@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: auto; /* Adjusted from a fixed height to auto */
    padding-bottom: 20px; /* Additional padding at the bottom */
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin-left: 0;
    justify-content: center; /* Center the content */
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  /* Begin added styles */
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align form elements centrally */
    margin-left: 4px;
  }

  #email-submit {
    margin-left: 14px;
  }

  .contact-inputs, .contact-left button {
    width: 100%; /* Make input fields and button span the full width */
    margin-bottom: 15px; /* Add space between each field */
  }

  .contact-left {
    width: 100%; /* Ensure the form uses the full available width */
  }

  .contact-info-upper-container {
    flex-direction: column; /* Stack the contact information vertically */
    margin-top: 20px; /* Add space above the contact information */
    margin-left: 12px;
  }

  .contact-info-container img {
    margin-right: 10px; /* Space between the icon and text */
  }

  .contact-info-container {
    justify-content: center; /* Center content within each contact info container */
  }

  .contact-info-container p {
    font-size: 16px; /* Adjust font size for readability */
  }
}

